/*
* @Author: peizhouyu
* @Date:   2018-06-04 15:02:05
* @Last Modified by:   peizhouyu
* @Last Modified time: 2018-06-04 20:56:02
*/

.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}