<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://my.oschina.net/mrpei123/blog" target="_blank">MrPei博客</a> |
            <a class="link" href="https://www.jd.com" target="_blank">
            京东</a> |
            <a class="link" href="https://www.oschina.net" target="_blank">开源中国</a> |
            <a class="link" href="https://github.com" target="_blank">
            GitHub</a>
        </div>
        <p class="copyright">
            Copyright © 2018 peizhouyu All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>